#brand:hover {
  color: goldenrod !important;
}

#brand {
  margin-left: 3em;
  font-size: 30px;
  color: #76797e;
  text-decoration: none;
}

.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 5em;
}

.navbar-nav .nav-link {
  margin-left: 2em;
  font-size: 20px;
}

.navbar-nav .nav-link:hover {
  color: goldenrod !important;
}

.navbar-nav .nav-link[aria-current="page"] {
  color: goldenrod !important;
}

.navbar-collapse {
  background-color: #212529;
  color: goldenrod !important;
}

.navbar-collapse a {
  color: goldenrod !important;
}

.jumbotron {
  background-image: url(../images/Snag_14cd2137.png);

  min-height: 33em;
  padding-bottom: 0px;
  background-color: #fff;
  background-repeat: no-repeat;
}

.title {
  padding-top: 4em;
  color: #fff;
  padding-left: 2em;
  font-size: 45px;
  font-weight: 400;
}

/* #bannerTitleText {
  background-color: transparent;
  color: #eeeeee;
  margin-left: 5%;
}

#bannerTitleText {
  font-size: 55px;
  font-weight: 400;

  text-shadow: 2px 2px 2px rgba(206, 89, 55, 0);
} */
.container-fluid {
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  height: auto;
  max-width: 95%;
}

.aboutWrapper {
  margin-bottom: 4em;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#postDateInfo {
  font-style: italic;
}

#postWrapper {
  margin-top: 3em;
}

#readMoreBtn {
  float: right;
  background-color: #343a40;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#readMoreBtn:hover {
  color: #343a40;
  background-color: #fff;
}

.cardWrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#cardTitle {
  font-size: 40px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

.projectContainer {
  margin-bottom: 4em;
}

.projectRow {
  margin-top: 4em;
}

.projectTitle {
  margin-left: 20%;
  font-size: 3em;
}

.projectButton {
  background-color: #343a40;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  padding: 0.5em 1em 0.5em 1em;
  margin: 4em 0em 2em 2em;
  border-radius: 10px;
}

.formWrapper {
  margin-left: 30%;
  margin-right: auto;
}
form {
  display: grid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

input {
  border-radius: 10px;
  width: 25%;
}

@media only screen and (max-width: 480px) {
  #brand {
    margin-left: 1em !important;
    font-size: 20px;
  }

  .container-fluid {
    padding-left: 0em;
    padding-right: 0em;
  }

  #cardTitle {
    font-size: 27px;
  }

  .card {
    margin-bottom: 1.5em;
  }

  .jumbotron {
    display: none;
  }
}
